////////////////////
// COMPONENTS.SASS
////////////////////

// This file holds styles for buttons, toggles,
// and other reusable UI elements.


.btn
	display: inline-block
	background-color: $color-primary
	color: white
	text-decoration: none
	border-radius: 3px
	padding: 0.3rem 0.5rem
	line-height: 1.0
	font-size: 14px

	&.btn-block
		display: block

.chatBtn
	background-color: $color-accent
	color: white
	text-decoration: none
	border-radius: 3px
	padding: 0.3rem 0.5rem
	line-height: 1.0
	font-size: 14px

input[type="text"], input[type="password"]
	box-sizing: border-box


.loginButton
	background-color: $color-primary-darker
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:9px 120px;
	text-decoration:none;

.loginButton:active
	position:relative;
	top:1px;

.bttn
	-moz-border-radius: $button-radius
	-webkit-border-radius: $button-radius
	border-radius: $button-radius
	display:inline-block
	&:not(:disabled)
		cursor: pointer
	font-family: $font-button
	text-decoration: none

// BUTTON SIZES

// send and accept invitation buttons
.bttn-sm
	@extend .bttn
	font-size: 14px
	padding: 5px 10px

// matches page buttons
.bttn-med
	@extend .bttn
	font-size: 18px
	padding: 7px 80px

// login, continue, edit my schedule buttons
.bttn-lrg
	@extend .bttn
	font-size: 24px
	padding: 9px 120px

.bttn-lrg-cmpr
	@extend .bttn-lrg
	padding: 9px 80px
	font-size: 18px

.bttn-match
	@extend .bttn-lrg-cmpr
	flex-grow: 1

// BUTTON COLORS

// fill darker with white text (most buttons)
.fill-darker
	background-color: $color-primary-darker
	color: white
	&:disabled
		opacity: 0.5
		background-color: desaturate($color-primary-darker, 50%)

	&:disable
		background-color: desaturate($color-primary-darker, 50%)

.fill-red
	background-color: $color-warning
	color: white

	&:disable
		background-color: desaturate($color-warning, 50%)

// cancel and decline invitation buttons
.red-border
	background-color: white
	border-style: solid
	border-color: $color-warning
	border-width: 1px
	color: $color-warning

	&:disable
		background-color: darken(white, 50%)

// TOGGLE BUTTON

.toggle
	-moz-border-radius: $toggle-radius
	-webkit-border-radius: $toggle-radius
	border-radius: $toggle-radius
	display:inline-block
	cursor: pointer
	font-family: $font-button
	text-decoration: none
	font-size: 14px
	padding: 5px 10px

.tgl-on
	@extend .toggle
	background-color: $color-primary-darker
	color: white
	text-align: left

.tgl-off
	@extend .toggle
	background-color: white
	color: gray
	border-width: 1px
	padding: 4px 10px
	border-style: solid
	border-color: gray
	text-align: right

.circle
	width: 12px
	height: 12px
	border-radius: 50%
	background-color: white
	padding: 0px 6px 0px 6px

.circle-left
	@extend .circle
	margin-right: 16px

.circle-right
	@extend .circle
	margin-left: 6px
	border-color: gray
	border-style: solid
	border-width: 1px

// HEADER FOR THE PERSON PAGE

section.person-header
	+flex-grow(0)
	+flex-shrink(0)
	+display-flex()
	+justify-content(space-between)
	padding: 1rem 1rem
	border-bottom: 1px solid $color-divider

	.details
		font-size: 18px
		font-weight: 400

	.controls

// SCHEDULE COMPONENT
$schedule-cell-width: 64px
$schedule-cell-height: 48px

$schedule-times-width: 64px
$schedule-days-height: 48px


.schedule-pane
	.cell
		width: $schedule-cell-width
		height: $schedule-cell-height
		background-color: white

.schedule-spacer
	position: absolute
	left: 0
	top: 0
	width: $schedule-times-width
	height: $schedule-days-height
	border-right: 1px solid $color-primary-lighter
	border-bottom: 1px solid $color-primary-lighter
	background-color: white
	z-index: 5

.schedule-days
	position: absolute
	left: 0
	top: 0
	height: $schedule-days-height
	margin-left: $schedule-times-width

	+display-flex()

	.cell
		width: $schedule-cell-width + 1px
		border-right: 1px solid $color-primary-lighter
		border-bottom: 1px solid $color-primary-lighter
		text-align:center
		font-size: 12px
		font-weight: 300
		padding-top: 8px;

.schedule-times
	position: absolute
	left: 0
	top: 0
	width: $schedule-times-width
	height: 100%
	margin-top: $schedule-days-height

	.cell
		height: $schedule-cell-height + 1px
		padding-top: 14px
		text-align:center
		border-right: 1px solid $color-primary-lighter
		border-bottom: 1px solid $color-primary-lighter


.schedule-table
	width: 100%
	border-collapse: collapse

	// Position the table underneath the borders
	// of the other elements
	margin-left: $schedule-times-width - 1px
	margin-top: $schedule-days-height - 1px
	margin-bottom: -1px

	th, td
		padding: 0
		border: 1px solid $color-primary-lighter

		& > div
			min-height: 3rem
			min-width: 4rem

	th
		font-size: 12px
		font-weight: 300

	.day, .date
		display: block

	.tableElementMatch
		padding-top: 3px
		font-size: 90%
		text-align: center
		color: white
		background-color: $color-primary-darker

		.tableElementMatchNum
			font-size:large

	.tableElementAppt
		padding-top: 17px
		background-color: $color-accent
		color:white
		text-align: center

	.tableElementEmpty

	.tableElementAvailable
		background-color: $color-primary-darker
		border: 1px solid $color-primary

	.tableElementClickable
		background-color: $color-primary-lighter
		border: 1px solid $color-primary

	.tableElementInactiveMatch
		background-color: $color-primary-lighter

	.tableElementActiveMatch
		background-color: $color-primary-darker
		color: white
		text-align: center
		padding-top: 12px
		font-size: 20px
