@font-face
    font-family: 'icomoon'
    src: url('/fonts/icomoon.eot?-andb5u')
    src: url('/fonts/icomoon.eot?#iefix-andb5u') format("embedded-opentype"), url('/fonts/icomoon.woff?-andb5u') format("woff"), url('/fonts/icomoon.ttf?-andb5u') format("truetype"), url('/fonts/icomoon.svg?-andb5u#icomoon') format("svg")
    font-weight: normal
    font-style: normal


[class^="icon-"], [class*=" icon-"]
    font-family: 'icomoon'
    speak: none
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-connect:before
    content: "\e600"

.icon-people:before
    content: "\e601"

.icon-calendar:before
    content: "\e602"
