////////////////
// LAYOUT.SASS
////////////////

html
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	color: black
	font-family: $font-family-body
	font-weight: normal
	font-weight: 300

body
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	background-color: black

#wrapper
	+display-flex()
	+flex-direction(column)
	height: 100%
	max-width: 400px
	margin: 0 auto
	background-color: white

header
	+flex-grow(0)
	+flex-shrink(0)

	nav
		+display-flex()
		font-size: 18px
		// background-color: $color-primary-lighter
		background: darken(white, 5%)
		border-top: 1px darken(white, 10%) solid

		a
			+flex-grow(1)
			padding: 0.5rem 0
			text-align: center
			text-decoration: none
			cursor: pointer
			[class^="icon-"]
				display: block
				font-size: 27px
			font-size: 11px
			&:link, &:visited
				color: black
				background-color: $color-primary-lighter

			&:active, &:hover, &.active
				// color: white
				// background-color: $color-primary
				color: $color-primary

#main
	+flex-grow(1)
	+flex-shrink(1)
	position: relative
	overflow-x: hidden
	overflow-y: hidden

	& > div > div, & > div > section
		position: absolute
		height: 100%
		width: 100%

.thumbnail
		height: 48px
		width: 48px
		border-radius: 999px


a, .bbq-clickable:not(:disabled)
	cursor: pointer
