<section class="chat" bbq-controller="ChatCtrl">

	<div class="person-header" bbq-class-active-if="msgFocused">
		<div class="thumbnailCol">
			<img class="thumbnail" bbq-src="thumbnail">
		</div>
		<div class="detailsCol">
			<span class="name">{{name}}</span>
		</div>
		<div class="controlsCol">
			<a class="btn" bbq-click="showView('person_settings')"><img src="/images/settings-icon.png"></a>
		</div>
	</div>

	<div class="messages" id="chatMessageList">
		<div>
			<div class="item" bbq-repeat="m in messages">
				<div class="message" bbq-hide="m.invite" bbq-class-active-if="m.from">
					{{m.text}}
				</div>
				<div class="invitation" bbq-show="m.invite">
					<span class="invitationPending" bbq-show="m.pending">
						Invite: <span bbq-data="dateToStr(m.time)"></span>
						<span bbq-show="m.from">(pending)</span>
						<span bbq-hide="m.from" class="bttns">
							<button type="button" class="bttn-sm fill-darker" bbq-click="AcceptInvite(m)">Accept</button><button type="button" class="bttn-sm red-border" bbq-click="RejectInvite(m)">Reject</button>
						</span>
					</span>
					<span class="invitationResponded" bbq-hide="m.pending">
						<span class="invitationAccepted" bbq-show="m.accepted">Invite: <span bbq-data="dateToStr(m.time)"></span> ACCEPTED</span>
						<span class="invitationRejected" bbq-hide="m.accepted">Invite: <span bbq-data="dateToStr(m.time)"></span> REJECTED</span>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="entry"  bbq-hide="calPickerOpen">
		<form bbq-submit="sendMessage($event)">
			<div class="cal">
				<button type="button" class="bttn-sm fill-darker"  bbq-click="toggleCalPicker()">
					<img src="/images/calendar-icon.png" width="25px"></button>
			</div>
			<div class="form-control">
				<textarea class="input" bbq-model="newMessage" placeholder="Type a message..." id="chatSendMessage" bbq-focus="msgFocus($event)" bbq-blur="msgBlur($event)"></textarea>
			</div>
			<div class="send-btn">
				<button type="submit" bbq-disabled="!newMessage" class="bttn-sm fill-darker">Send</button>
			</div>
		</form>
	</div>
	<div class="calChooser" bbq-show="calPickerOpen">
		<div class="calendar" bbq-controller="ChatScheduleCtrl">

			<div class="schedule-pane">

				<div class="schedule-spacer"></div>

				<section class="schedule-days">
					<div class="cell" bbq-repeat="day in days">
						<span>{{day.dayText}}</span><br />
						<span>{{day.dateText}}</span>
					</div>
				</section>

				<section class="schedule-times">
					<div class="cell" bbq-repeat="time in times">
						<span>{{time}}</span>
					</div>
				</section>


				<table class="schedule-table">
					<tbody>
						<tr bbq-repeat="row in cells">
							<td bbq-repeat="cell in row">
								<div class="tableElementEmpty" bbq-show="cell.showEmpty"></div>
								<div class="tableElementInactiveMatch" bbq-click="selectMatch(cell)" bbq-show="cell.showInactiveMatch">
								</div>
								<div class="tableElementActiveMatch" bbq-show="cell.showActiveMatch">
									&#10004;
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div><!-- end .schedule-pane -->

		</div>
		<div class="buttonRow">
			<div class="selectedTime" bbq-data="dateToStr(inviteDate)"></div>
			<div class="btns">
				<button type="button" class="bttn-sm red-border" bbq-click="toggleCalPicker()">Cancel</button>
				<button type="button" class="bttn-sm fill-darker" bbq-click="sendInvite()">Invite</button>
			</div>
		</div>

	</div>

</section>
