<section class="connect">
	<div class="tap-instructions">
		Tap to share contact info!
	</div>
    <div class="tap-animation">
        <img src="/images/connect_animation.gif" />
    </div>
</section>
