<section class="connect" bbq-controller="ConnectedCtrl">
	<div class="details">
		<div class="inner" align="center">
			<img bbq-src="thumbnail" class="thumbnail" />
			<div class="text" align="center">
				<span>Received info:</span>
				<h2>{{name}}</h2>
			</div>
		</div>
	</div>

	<div class="controls">
		<div class="share-schedule" align="center">
			<span>Share my schedule with {{firstname}}</span>
			<span class="tgl-on"  bbq-show="share" bbq-click="toggleShare()"><span class="circle-left">&nbsp;</span>ON</span>
			<span class="tgl-off" bbq-hide="share" bbq-click="toggleShare()">OFF<span class="circle-right">&nbsp;</span></span>
		</div>
		<div class="continue" align="center">
			<a class="bttn-lrg fill-darker" bbq-click="showView('people')">Continue</a>
		</div>
	</div>
</section>
