<div bbq-controller="MatchesCtrl" class="matches">

<div class="match-date">{{cleanDate}}</div>

<div bbq-repeat="m in matches">
	<br><a class="bttn-match fill-darker match" bbq-click="setInvite(m,date)">{{m}}</a><br>
</div>

</div>