<section class="schedule-page" bbq-controller="MyScheduleCtrl">

	<div class="schedule-pane">
		<div class="schedule-spacer"></div>
		
		<section class="schedule-days">
			<div class="cell" bbq-repeat="day in days">
				<span>{{day.dayText}}</span><br />
				<span>{{day.dateText}}</span>
			</div>
		</section>

		<section class="schedule-times">
			<div class="cell" bbq-repeat="time in times">
				<span>{{time}}</span>
			</div>
		</section>
		
		<table class="schedule-table">			
			<tbody>
				<tr bbq-repeat="row in cells">
					<td bbq-repeat="cell in row">
						<div class="tableElementClickable" bbq-show="cell.showEmpty" bbq-click="toggleAvailable(cell)">
						</div>
						<div class="tableElementAvailable" bbq-show="cell.showAvailable" bbq-click="toggleAvailable(cell)">
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		
	</div>
	
</section>
