<section class="people" bbq-controller="PeopleCtrl">
	<div class="person"  bbq-repeat ="p in people" bbq-click="showPerson(p.name)" bbq-class-active-if="p.new_messages">
		<div class="thumbnailCol">
			<img bbq-src="p.thumbnail" class="thumbnail"></div>
		<div class="detailsCol">
			<div class="name">{{p.name}}</div>
			<div class="messagePreview">{{ p.messagePreview }}</div>
		</div>
		<div class="controlsCol" bbq-show="p.new_messages" >
			<span class="chatBtn">{{p.new_messages}}</span>
		</div>
	</div>
</section>
