<section class="person-settings" bbq-controller="PersonSettingsCtrl">

	<div class="person-header">
		<div class="thumbnailCol">
			<img class="thumbnail" bbq-src="thumbnail">
		</div>
		<div class="detailsCol">
			<span class="name">{{name}}</span>
		</div>
		<div class="controlsCol">
			<a class="btn" bbq-click="showPerson(name)"><img src="/images/chat-icon.png"></a>
		</div>
	</div>

	<div class="share-schedule">
		<span>Share my schedule with {{firstname}}</span>
		<span class="tgl-on"  bbq-show="share" bbq-click="toggleShare()"><span class="circle-left">&nbsp;</span>ON</span>
		<span class="tgl-off" bbq-hide="share" bbq-click="toggleShare()">OFF<span class="circle-right">&nbsp;</span></span>
	</div>

	<div class="delete-contact">
		<button bbq-click="deleteContact()" class="bttn-lrg-cmpr fill-red">Delete contact</button>
	</div>

</section>
