<!-- SCHEDULE.EJS -->
<section class="schedule-page" bbq-controller="ScheduleCtrl">

	<div class="schedule-pane">
		
		<div class="schedule-spacer"></div>
		
		<section class="schedule-days">
			<div class="cell" bbq-repeat="day in days">
				<span>{{day.dayText}}</span><br />
				<span>{{day.dateText}}</span>
			</div>
		</section>
		
		<section class="schedule-times">
			<div class="cell" bbq-repeat="time in times">
				<span>{{time}}</span>
			</div>
		</section>
	
	
		<table class="schedule-table">			
			<tbody>
				<tr bbq-repeat="row in cells">
					<td bbq-repeat="cell in row">
						<div class="tableElementEmpty" bbq-show="cell.showEmpty">
						</div>
						<div class="tableElementMatch" bbq-show="cell.showMatches" bbq-click="setSelectedTime(cell)">
							<div class="tableElementMatchNum">{{cell.matches}}</div>
							<div class="tableElementMatch">matches</div>
						</div>
						<div class="tableElementAppt" bbq-show="cell.showAppt">
							Sally
						</div>
					</td>
				</tr>
			</tbody>
		</table>


	</div>
	
	<div class="controls">
		<a class="bttn-lrg-cmpr fill-darker" bbq-click="showView('mySchedule')">Edit My Schedule</a>
	</div>

</section>
