<!DOCTYPE html>
<html>
	<head>
		<title>Tap Dance</title>

		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="stylesheet" href="/stylesheets/style.css" />

		<script type="text/javascript" src="/scripts/bbq.js" ></script>
		<script type="text/javascript" src="/scripts/load-data.js" ></script>
		<script type="text/javascript" src="/scripts/schedule.js" ></script>
		<script type="text/javascript" src="/scripts/PageCtrl.js"></script>
		<script type="text/javascript" src="/scripts/PeopleCtrl.js"></script>
		<script type="text/javascript" src="/scripts/ScheduleCtrl.js"></script>
		<script type="text/javascript" src="/scripts/MyScheduleCtrl.js"></script>
		<script type="text/javascript" src="/scripts/ChatScheduleCtrl.js"></script>
		<script type="text/javascript" src="/scripts/ChatCtrl.js"></script>
		<script type="text/javascript" src="/scripts/ConnectedCtrl.js"></script>
		<script type="text/javascript" src="/scripts/PersonSettingsCtrl.js"></script>
		<script type="text/javascript" src="/scripts/MatchesCtrl.js"></script>

		<link rel="shortcut icon" href="http://students.cs.byu.edu/~adj90/test/apple-touch-icon-196.png" sizes="196x196" />
		<link rel="apple-touch-icon" href="http://students.cs.byu.edu/~adj90/test/apple-touch-icon-196.png" sizes="196x196" />

	</head>
	<body>
		<div id="wrapper" bbq-controller="PageCtrl">
			<header bbq-show="headerShow">
				<nav>
					<a bbq-click="showView('people')" bbq-class-active-if="tab.people"><span class="icon-people"></span>People</a>
					<a bbq-click="showView('schedule')" bbq-class-active-if="tab.schedule"><span class="icon-calendar"></span>Schedule</a>
					<a bbq-click="showView('connect')" bbq-class-active-if="tab.connect"><span class="icon-connect"></span>Connect</a>
				</nav>
			</header>

			<div id="main">

				<div bbq-show="show.people">
					<% include partials/people %>
				</div>
				<div bbq-show="show.schedule">
					<% include partials/schedule %>
				</div>
				<div bbq-show="show.mySchedule">
					<% include partials/mySchedule %>
				</div>
				<div bbq-show="show.connect">
					<% include partials/connect %>
				</div>

				<div bbq-show="show.chat">
					<% include partials/chat %>
				</div>
				<div bbq-show="show.person_settings">
					<% include partials/person_settings %>
				</div>
				<div bbq-show="show.connected">
					<% include partials/connected %>
				</div>
				<div bbq-show="show.matches">
					<% include partials/matches_list %>
				</div>
				<!-- PAGES END HERE -->

			</div><!-- end #main -->
		</div><!-- end #wrapper -->
	</body>
</html>
