<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>TapDance</title>

	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />

	<link rel="shortcut icon" href="http://students.cs.byu.edu/~adj90/test/apple-touch-icon-196.png" sizes="196x196" />
	<link rel="apple-touch-icon" href="http://students.cs.byu.edu/~adj90/test/apple-touch-icon-196.png" />
	<link rel="apple-touch-icon" href="http://students.cs.byu.edu/~adj90/test/apple-touch-icon-196.png" sizes="76x76" />
	<link rel="apple-touch-icon" href="http://students.cs.byu.edu/~adj90/test/apple-touch-icon-196.png" sizes="120x120" />
	<link rel="apple-touch-icon" href="http://students.cs.byu.edu/~adj90/test/apple-touch-icon-196.png" sizes="152x152" />

</head>
<body id="login-page">
	<nav>TapDance</nav>

	<section class="login">
		<% if (error) { %>
		<p class="error">
			<%= error %></p>
		<% } %>
		<form action="/login" method="post">
			<div>
				<input type="text" class="login-input" name="username" placeholder="BYU NetID" autofocus="true"></div>
			<div>
				<input type="password" class="login-input" name="password" placeholder="Password"></div>
			<div>
				<button type="submit" class="loginButton">Login</button>
			</div>
		</form>
	</section>

</body>
</html>
