<div bbq-controller="SimpleCtrl">
	
	<h1><% title %></h1>
	<p>Welcome to <% title %></p>

	<p><a href="/logout">Logout</a></p>

	<div>
		<p>Count = {{ count }}</p>
		<button type="button" bbq-click="incrementCounter()">Increment</button>
	</div>
	<div>
		<form>
			<input bbq-model="message" type="text" placeholder="type here">
			<input type="reset" value="Reset via form reset">
			<button type="button" bbq-click="resetMessage()">Reset via function</button>
		</form>
	</div>
	<p>
	The message in the input box above: {{message}}
	</p>
</div>