/* line 1, /Users/nmcmaster/Developer/tap-that/sass/reset.sass */
div, p, section {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?-andb5u');
  src: url('/fonts/icomoon.eot?#iefix-andb5u') format("embedded-opentype"), url('/fonts/icomoon.woff?-andb5u') format("woff"), url('/fonts/icomoon.ttf?-andb5u') format("truetype"), url('/fonts/icomoon.svg?-andb5u#icomoon') format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 9, /Users/nmcmaster/Developer/tap-that/sass/icons.sass */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 20, /Users/nmcmaster/Developer/tap-that/sass/icons.sass */
.icon-connect:before {
  content: "\e600"; }

/* line 23, /Users/nmcmaster/Developer/tap-that/sass/icons.sass */
.icon-people:before {
  content: "\e601"; }

/* line 26, /Users/nmcmaster/Developer/tap-that/sass/icons.sass */
.icon-calendar:before {
  content: "\e602"; }

/* line 2, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
  font-weight: normal;
  font-weight: 300; }

/* line 12, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black; }

/* line 19, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
#wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: white; }

/* line 27, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
header {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0; }
  /* line 31, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
  header nav {
    display: -webkit-flex;
    display: flex;
    font-size: 18px;
    background: #f2f2f2;
    border-top: 1px #e6e6e6 solid; }
    /* line 37, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
    header nav a {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      padding: 0.5rem 0;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      font-size: 11px; }
      /* line 43, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
      header nav a [class^="icon-"] {
        display: block;
        font-size: 27px; }
      /* line 47, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
      header nav a:link, header nav a:visited {
        color: black;
        background-color: #baece9; }
      /* line 51, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
      header nav a:active, header nav a:hover, header nav a.active {
        color: #2b9394; }

/* line 54, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
#main {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden; }
  /* line 61, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
  #main > div > div, #main > div > section {
    position: absolute;
    height: 100%;
    width: 100%; }

/* line 66, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
.thumbnail {
  height: 48px;
  width: 48px;
  border-radius: 999px; }

/* line 72, /Users/nmcmaster/Developer/tap-that/sass/layout.sass */
a, .bbq-clickable:not(:disabled) {
  cursor: pointer; }

/* line 4, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.btn {
  display: inline-block;
  background-color: #2b9394;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  line-height: 1;
  font-size: 14px; }
  /* line 14, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .btn.btn-block {
    display: block; }

/* line 17, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.chatBtn {
  background-color: #BF4649;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  padding: 0.3rem 0.5rem;
  line-height: 1;
  font-size: 14px; }

/* line 26, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
input[type="text"], input[type="password"] {
  box-sizing: border-box; }

/* line 30, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.loginButton {
  background-color: #157F80;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 24px;
  padding: 9px 120px;
  text-decoration: none; }

/* line 43, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.loginButton:active {
  position: relative;
  top: 1px; }

/* line 47, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.bttn, .bttn-sm, .bttn-med, .bttn-lrg, .bttn-lrg-cmpr, .bttn-match {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-family: Arial;
  text-decoration: none; }
  /* line 52, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .bttn:not(:disabled), .bttn-sm:not(:disabled), .bttn-med:not(:disabled), .bttn-lrg:not(:disabled), .bttn-lrg-cmpr:not(:disabled), .bttn-match:not(:disabled) {
    cursor: pointer; }

/* line 58, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.bttn-sm {
  font-size: 14px;
  padding: 5px 10px; }

/* line 63, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.bttn-med {
  font-size: 18px;
  padding: 7px 80px; }

/* line 68, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.bttn-lrg, .bttn-lrg-cmpr, .bttn-match {
  font-size: 24px;
  padding: 9px 120px; }

/* line 73, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.bttn-lrg-cmpr, .bttn-match {
  padding: 9px 80px;
  font-size: 18px; }

/* line 78, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.bttn-match {
  flex-grow: 1; }

/* line 83, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.fill-darker {
  background-color: #157F80;
  color: white; }
  /* line 86, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .fill-darker:disabled {
    opacity: 0.5;
    background-color: #3a5a5b; }
  /* line 90, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .fill-darker:disable {
    background-color: #3a5a5b; }

/* line 93, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.fill-red {
  background-color: #be4950;
  color: white; }
  /* line 97, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .fill-red:disable {
    background-color: #808786; }

/* line 100, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.red-border {
  background-color: white;
  border-style: solid;
  border-color: #be4950;
  border-width: 1px;
  color: #be4950; }
  /* line 107, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .red-border:disable {
    background-color: gray; }

/* line 111, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.toggle, .tgl-on, .tgl-off {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  text-decoration: none;
  font-size: 14px;
  padding: 5px 10px; }

/* line 122, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.tgl-on {
  background-color: #157F80;
  color: white;
  text-align: left; }

/* line 128, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.tgl-off {
  background-color: white;
  color: gray;
  border-width: 1px;
  padding: 4px 10px;
  border-style: solid;
  border-color: gray;
  text-align: right; }

/* line 138, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.circle, .circle-left, .circle-right {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  padding: 0px 6px 0px 6px; }

/* line 145, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.circle-left {
  margin-right: 16px; }

/* line 149, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.circle-right {
  margin-left: 6px;
  border-color: gray;
  border-style: solid;
  border-width: 1px; }

/* line 157, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
section.person-header {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e0e0e0; }
  /* line 165, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  section.person-header .details {
    font-size: 18px;
    font-weight: 400; }

/* line 179, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.schedule-pane .cell {
  width: 64px;
  height: 48px;
  background-color: white; }

/* line 184, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.schedule-spacer {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 48px;
  border-right: 1px solid #baece9;
  border-bottom: 1px solid #baece9;
  background-color: white;
  z-index: 5; }

/* line 195, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.schedule-days {
  position: absolute;
  left: 0;
  top: 0;
  height: 48px;
  margin-left: 64px;
  display: -webkit-flex;
  display: flex; }
  /* line 204, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-days .cell {
    width: 65px;
    border-right: 1px solid #baece9;
    border-bottom: 1px solid #baece9;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    padding-top: 8px; }

/* line 213, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.schedule-times {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
  margin-top: 48px; }
  /* line 221, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-times .cell {
    height: 49px;
    padding-top: 14px;
    text-align: center;
    border-right: 1px solid #baece9;
    border-bottom: 1px solid #baece9; }

/* line 229, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
.schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 63px;
  margin-top: 47px;
  margin-bottom: -1px; }
  /* line 237, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table th, .schedule-table td {
    padding: 0;
    border: 1px solid #baece9; }
    /* line 241, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
    .schedule-table th > div, .schedule-table td > div {
      min-height: 3rem;
      min-width: 4rem; }
  /* line 245, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table th {
    font-size: 12px;
    font-weight: 300; }
  /* line 249, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table .day, .schedule-table .date {
    display: block; }
  /* line 252, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table .tableElementMatch {
    padding-top: 3px;
    font-size: 90%;
    text-align: center;
    color: white;
    background-color: #157F80; }
    /* line 259, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
    .schedule-table .tableElementMatch .tableElementMatchNum {
      font-size: large; }
  /* line 262, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table .tableElementAppt {
    padding-top: 17px;
    background-color: #BF4649;
    color: white;
    text-align: center; }
  /* line 270, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table .tableElementAvailable {
    background-color: #157F80;
    border: 1px solid #2b9394; }
  /* line 274, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table .tableElementClickable {
    background-color: #baece9;
    border: 1px solid #2b9394; }
  /* line 278, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table .tableElementInactiveMatch {
    background-color: #baece9; }
  /* line 281, /Users/nmcmaster/Developer/tap-that/sass/components.sass */
  .schedule-table .tableElementActiveMatch {
    background-color: #157F80;
    color: white;
    text-align: center;
    padding-top: 12px;
    font-size: 20px; }

/* line 1, /Users/nmcmaster/Developer/tap-that/sass/pages/login.sass */
#login-page {
  height: 100%;
  text-align: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: url('/images/bg_login.png') no-repeat;
  background-position: center center;
  background-size: cover; }
  /* line 9, /Users/nmcmaster/Developer/tap-that/sass/pages/login.sass */
  #login-page nav {
    background: #baece9;
    color: #2b9394;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 5px 0 black;
    font-size: 21pt; }
  /* line 17, /Users/nmcmaster/Developer/tap-that/sass/pages/login.sass */
  #login-page .login {
    padding: 10px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px 0 black; }
  /* line 26, /Users/nmcmaster/Developer/tap-that/sass/pages/login.sass */
  #login-page .error {
    padding: 5px;
    font-size: 13px;
    font-weight: 400;
    color: #be4950; }
  /* line 32, /Users/nmcmaster/Developer/tap-that/sass/pages/login.sass */
  #login-page .login-input {
    font-size: 21px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    padding: 2px;
    width: 90%;
    margin: 5px;
    box-sizing: border-box;
    outline: none; }

/* line 1, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
section.people {
  overflow-y: auto; }
  /* line 3, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .person {
    border-bottom: 1px solid #e0e0e0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px; }
  /* line 13, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .thumbnailCol {
    -webkit-flex: 0 0 48px;
    flex: 0 0 48px; }
  /* line 16, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .thumbnail {
    height: 48px;
    width: 48px;
    border-radius: 24px; }
  /* line 21, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .detailsCol {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 5px; }
  /* line 26, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .name {
    font-size: 21px; }
  /* line 30, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .person.active .name {
    font-weight: 400; }
  /* line 33, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .messagePreview {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  /* line 39, /Users/nmcmaster/Developer/tap-that/sass/pages/people.sass */
  section.people .controlsCol {
    -webkit-flex: 0 0 24px;
    flex: 0 0 24px; }

/* line 2, /Users/nmcmaster/Developer/tap-that/sass/pages/schedule.sass */
.schedule-page {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  /* line 6, /Users/nmcmaster/Developer/tap-that/sass/pages/schedule.sass */
  .schedule-page .schedule-pane {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: auto; }
  /* line 11, /Users/nmcmaster/Developer/tap-that/sass/pages/schedule.sass */
  .schedule-page .controls {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    padding: 1rem;
    background-color: white;
    z-index: 5;
    text-align: center;
    border-top: 1px solid #baece9; }

/* line 19, /Users/nmcmaster/Developer/tap-that/sass/pages/schedule.sass */
.tableElementMatch {
  cursor: pointer; }

/* line 1, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
section.chat {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  /* line 5, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
  section.chat .person-header {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 76px;
    -webkit-transition: height 100ms ease;
    transition: height 100ms ease;
    border-bottom: 1px solid #e0e0e0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px; }
    /* line 15, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .person-header .thumbnailCol {
      -webkit-flex: 0 0 48px;
      flex: 0 0 48px; }
    /* line 18, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .person-header .thumbnail {
      height: 48px;
      width: 48px;
      border-radius: 24px; }
    /* line 23, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .person-header .detailsCol {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      padding-left: 10px;
      padding-right: 5px; }
    /* line 28, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .person-header .name {
      font-size: 21px; }
    /* line 31, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .person-header .controlsCol {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto; }
      /* line 33, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .person-header .controlsCol img {
        width: 25px; }
    /* line 35, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .person-header.active {
      height: 35px;
      padding-top: 0;
      padding-bottom: 0; }
      /* line 36, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .person-header.active .thumbnailCol {
        -webkit-flex-basis: 24px;
        flex-basis: 24px; }
      /* line 38, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .person-header.active .thumbnail {
        height: 24px;
        width: 24px; }
      /* line 41, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .person-header.active .name {
        font-size: 13px; }
      /* line 43, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .person-header.active .controlsCol a {
        display: none; }
  /* line 49, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
  section.chat .messages {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding: 5px;
    overflow-y: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start; }
    /* line 57, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .messages .item {
      margin-bottom: 10px; }
    /* line 60, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .messages .message {
      text-align: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      word-wrap: break-word;
      border-radius: 5px;
      margin-bottom: 1em;
      padding: 8px;
      background-color: #baece9;
      line-height: 1.2;
      margin: 0 40px 0 0; }
      /* line 71, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .messages .message.active {
        margin: 0 0 0 40px;
        background-color: #157F80;
        color: white; }
      /* line 76, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .messages .message:last-child {
        margin-bottom: 0; }
    /* line 79, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .messages .invitation {
      padding: 0.5rem 1rem;
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0; }
    /* line 83, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .messages .invitationPending, section.chat .messages .invitationRejected {
      color: #BF4649; }
    /* line 85, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .messages .invitationAccepted {
      color: #2b9394; }
    /* line 87, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .messages .bttns {
      white-space: nowrap; }
      /* line 89, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .messages .bttns .bttn-sm:not(:first-child) {
        margin-left: 5px; }
  /* line 92, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
  section.chat .entry {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding: 5px;
    border-top: 1px solid #e0e0e0; }
    /* line 99, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .entry > form {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: flex-start;
      align-items: flex-start;
      -webkit-align-content: stretch;
      align-content: stretch; }
    /* line 104, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .entry .cal {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto; }
      /* line 106, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .entry .cal button {
        height: 30px; }
      /* line 108, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .entry .cal img {
        width: 18px; }
    /* line 111, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .entry .form-control {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      padding: 0 5px; }
      /* line 114, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .entry .form-control .input {
        height: 30px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: height 250ms 50ms ease;
        transition: height 250ms 50ms ease;
        resize: none;
        margin: 0;
        padding: 0.15rem 0.5rem;
        border: 1px solid #cccccc;
        border-radius: 2px;
        font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
        font-size: 16px;
        font-weight: 300; }
        /* line 119, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
        section.chat .entry .form-control .input:focus {
          height: 60px; }
        /* line 130, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
        section.chat .entry .form-control .input:focus {
          outline: 0; }
    /* line 133, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .entry .send {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto; }
  /* line 135, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
  section.chat .calChooser {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.39);
    background: white;
    padding: 5px; }
    /* line 142, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .calChooser .calendar {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      position: relative;
      height: 280px;
      overflow: hidden; }
      /* line 147, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .calChooser .calendar .schedule-pane {
        width: 100%;
        height: 100%;
        overflow-x: auto;
        overflow-y: auto; }
    /* line 153, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .calChooser .buttonRow {
      -webkit-flex-grow: 0;
      flex-grow: 0;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center; }
      /* line 157, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .calChooser .buttonRow > div {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto; }
      /* line 159, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .calChooser .buttonRow .selectedTime {
        font-size: 16px;
        font-weight: 400; }
      /* line 162, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
      section.chat .calChooser .buttonRow .btns {
        text-align: right; }
    /* line 164, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .calChooser .schedule-times .cell {
      height: 26px;
      padding-top: 3px; }
    /* line 167, /Users/nmcmaster/Developer/tap-that/sass/pages/chat.sass */
    section.chat .calChooser .schedule-table td > div {
      min-height: 25px;
      padding-top: 2px;
      font-size: 16px; }

/* line 1, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
section.person-settings {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  /* line 5, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
  section.person-settings .person-header {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 76px;
    border-bottom: 1px solid #e0e0e0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px; }
    /* line 14, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
    section.person-settings .person-header .thumbnailCol {
      -webkit-flex: 0 0 48px;
      flex: 0 0 48px; }
    /* line 17, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
    section.person-settings .person-header .thumbnail {
      height: 48px;
      width: 48px;
      border-radius: 24px; }
    /* line 22, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
    section.person-settings .person-header .detailsCol {
      -webkit-flex-grow: 1;
      flex-grow: 1;
      padding-left: 10px;
      padding-right: 5px; }
    /* line 27, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
    section.person-settings .person-header .name {
      font-size: 21px; }
    /* line 30, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
    section.person-settings .person-header .controlsCol {
      -webkit-flex: 0 0 auto;
      flex: 0 0 auto; }
      /* line 32, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
      section.person-settings .person-header .controlsCol img {
        width: 25px; }
  /* line 35, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
  section.person-settings .share-schedule {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1rem; }
  /* line 40, /Users/nmcmaster/Developer/tap-that/sass/pages/person-settings.sass */
  section.person-settings .delete-contact {
    padding: 1rem;
    text-align: center; }

/* line 1, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
section.connect {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  /* line 5, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
  section.connect .tap-instructions {
    margin: auto;
    text-align: center;
    font-size: 50px; }
  /* line 10, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
  section.connect .tap-animation {
    text-align: center; }
    /* line 12, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
    section.connect .tap-animation img {
      max-width: 380px; }
  /* line 15, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
  section.connect .details {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex; }
    /* line 19, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
    section.connect .details .inner {
      margin: auto 1rem;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row; }
      /* line 24, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
      section.connect .details .inner .text {
        margin: auto 0 auto 1rem; }
      /* line 27, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
      section.connect .details .inner img {
        width: 80px;
        height: 80px; }
      /* line 31, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
      section.connect .details .inner h3 {
        font-size: 18px;
        font-weight: normal;
        font-weight: 300; }
      /* line 36, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
      section.connect .details .inner h2 {
        margin: 0;
        font-size: 36px;
        font-weight: normal;
        font-weight: 300; }
  /* line 42, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
  section.connect .controls {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    align-self: flex-end; }
    /* line 47, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
    section.connect .controls .share-schedule {
      padding: 1rem 1rem 0; }
    /* line 50, /Users/nmcmaster/Developer/tap-that/sass/pages/connect.sass */
    section.connect .controls .continue {
      padding: 1rem;
      text-align: center; }

/* line 1, /Users/nmcmaster/Developer/tap-that/sass/pages/matches.sass */
.matches {
  text-align: center; }

/* line 4, /Users/nmcmaster/Developer/tap-that/sass/pages/matches.sass */
.match-date {
  font-weight: bold; }

/* line 7, /Users/nmcmaster/Developer/tap-that/sass/pages/matches.sass */
.match {
  width: 50%; }
