section.chat
	+display-flex()
	+flex-direction(column)

	.person-header
		+flex-shrink(0)
		height: 76px
		+transition(height 100ms ease)
		border-bottom: 1px solid $color-divider
		+display-flex()
		+align-items(center)
		padding: 10px
		$thumbSize: 48px

		.thumbnailCol
			+flex(0 0 $thumbSize)

		.thumbnail
			height: $thumbSize
			width: $thumbSize
			border-radius: 24px

		.detailsCol
			+flex-grow(1)
			padding-left: 10px
			padding-right: 5px

		.name
			font-size: 21px

		.controlsCol
			+flex(0 0 auto)
			img
				width: 25px
		&.active
			.thumbnailCol
				+flex-basis($thumbSize/2)
			.thumbnail
				height: $thumbSize/2
				width: $thumbSize/2
			.name
				font-size: 13px
			.controlsCol a
				display: none
			height: 35px
			padding-top: 0
			padding-bottom: 0

	.messages
		+flex-grow(1)
		padding: 5px
		overflow-y: auto
		+display-flex()
		+flex-direction(column)
		+justify-content(flex-start)

		.item
			margin-bottom: 10px

		.message
			text-align: left
			+box-sizing(border-box)
			word-wrap: break-word
			border-radius: 5px
			margin-bottom: 1em
			padding: 8px
			background-color: $color-primary-lighter
			line-height: 1.2
			$adj: 40px
			margin: 0 $adj 0 0
			&.active
				margin: 0 0 0 $adj
				background-color: $color-primary-darker
				color:white

			&:last-child
				margin-bottom: 0

		.invitation
			padding: 0.5rem 1rem
			border-top: 1px solid $color-divider
			border-bottom: 1px solid $color-divider
		.invitationPending, .invitationRejected
			color:$color-accent
		.invitationAccepted
			color:$color-primary
		.bttns
			white-space: nowrap
			.bttn-sm:not(:first-child)
				margin-left: 5px

	.entry
		$entryRowHeight: 30px
		+flex-grow(0)
		+flex-shrink(0)
		padding: 5px
		border-top: 1px solid $color-divider

		>form
			+display-flex()
			+align-items(flex-start)
			+align-content(stretch)

		.cal
			+flex(0 0 auto)
			button
				height: $entryRowHeight
			img
				width: 18px

		.form-control
			+flex-grow(1)
			padding: 0 5px
			.input
				height: $entryRowHeight
				width: 100%
				+box-sizing(border-box)
				+transition(height 250ms 50ms ease)
				&:focus
					height: $entryRowHeight*2
				resize: none
				margin: 0
				padding: 0.15rem 0.5rem
				border: 1px solid darken(white,20%)
				border-radius: 2px
				font-family: $font-family-body
				font-size: 16px
				font-weight: 300

				&:focus
					outline: 0

		.send
			+flex(0 0 auto)
	.calChooser
		+flex-shrink(0)
		+display-flex()
		+flex-direction(column)
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.39)
		background: white
		padding: 5px
		.calendar
			+flex-grow(1)
			position: relative
			height: 280px
			overflow: hidden
			.schedule-pane
				width: 100%
				height: 100%
				overflow-x: auto
				overflow-y: auto

		.buttonRow
			+flex-grow(0)
			+display-flex()
			+align-items(center)
			>div
				+flex( 1 0 auto)
			.selectedTime
				font-size: 16px
				font-weight: 400
			.btns
				text-align: right
		.schedule-times .cell
			height: 26px
			padding-top: 3px
		.schedule-table td > div
			min-height: 25px
			padding-top: 2px
			font-size: 16px

