section.connect
	+display-flex()
	+flex-direction(column)

	.tap-instructions
		margin: auto
		text-align: center
		font-size: 50px

	.tap-animation
		text-align: center
		img
			max-width: 380px

	.details
		+flex-grow(1)
		+display-flex()

		.inner
			margin: auto 1rem
			+display-flex()
			+flex-direction(row)

			.text
				margin: auto 0 auto 1rem

			img
				width: 80px
				height: 80px

			h3
				font-size: 18px
				font-weight: normal
				font-weight: 300

			h2
				margin: 0
				font-size: 36px
				font-weight: normal
				font-weight: 300

	.controls
		+flex-grow(1)
		+flex-shrink(0)
		align-self: flex-end

		.share-schedule
			padding: 1rem 1rem 0

		.continue
			padding: 1rem
			text-align: center
