// NOTE: The styles for the schedule pane are defined in components,
// because they are reused across mutliple pages.
// This stylesheet is JUST the layout for the combined schedule page.

.mySchedule-page
	+display-flex()
	+flex-direction(column)

	.mySchedule-pane
		+flex-grow(1)
		overflow-x: auto
		overflow-y: auto

	.controls
		+flex-grow(0)
		padding: 1rem
		background-color: white
		z-index: 5
		text-align: center
		border-top: 1px solid $color-primary-lighter
