section.people
	overflow-y: auto
	.person
		border-bottom: 1px solid $color-divider
		+flex-grow(0)
		+flex-shrink(0)
		+display-flex()
		+align-items(center)
		padding: 10px

	$thumbSize: 48px

	.thumbnailCol
		+flex(0 0 $thumbSize)

	.thumbnail
		height: $thumbSize
		width: $thumbSize
		border-radius: 24px

	.detailsCol
		+flex-grow(1)
		padding-left: 10px
		padding-right: 5px

	.name
		font-size: 21px

	.person.active
		.name
			font-weight: 400

	.messagePreview
		font-size: 13px
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis

	.controlsCol
		+flex(0 0 24px)


