section.person-settings
	+display-flex()
	+flex-direction(column)

	.person-header
		+flex-shrink(0)
		height: 76px
		border-bottom: 1px solid $color-divider
		+display-flex()
		+align-items(center)
		padding: 10px
		$thumbSize: 48px

		.thumbnailCol
			+flex(0 0 $thumbSize)

		.thumbnail
			height: $thumbSize
			width: $thumbSize
			border-radius: 24px

		.detailsCol
			+flex-grow(1)
			padding-left: 10px
			padding-right: 5px

		.name
			font-size: 21px

		.controlsCol
			+flex(0 0 auto)
			img
				width: 25px

	.share-schedule
		+flex-grow(1)
		+flex-shrink(0)
		padding: 1rem

	.delete-contact
		padding: 1rem
		text-align: center
